
.categoryTree{
    background-color: rgba( 0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
}

.leaf {
    color: green;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 0 0 20px;
}

.nonLeaf {
    background-color: rgba( 0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;
}

.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #242424;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
}