.page {
    padding: 2rem;
    box-sizing: border-box;
}

.product {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    border-radius: 1rem;
}

@media (max-width: 600px) {
    .product {
        grid-template-columns: 1fr;
    }
}

.media {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1rem;
}

.info {
    width: 100%;
}
