.searchBar {
    display: flex;
    align-items: center;
    gap: 0.5em;
    box-sizing: border-box;
    width: clamp(10em, 50%, 40em);
    height: 3.5em;
    background-color: white;
    border: 3px solid #242424;
    border-radius: 1em;
}
.inputField {
    flex: 1;
    height: 100%;
    font-size: 1.5em;
    line-height: 1em;
    box-sizing: border-box;
    padding: 0.5rem 0 0.5rem 0.8rem;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0, 0.87);
}
.inputField:focus {
    outline: none;
}
.searchIcon {
    font-size: 2em;
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.extraButtons {
    display: flex;
    align-items: center;
    gap: 1em;
}