.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    width: 40rem;
    margin: 0 auto;
}