.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    border: black solid 2px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: inherit;

}
.thumbnail {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.card p {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
}
.card h2 {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card h3 {
    margin: 0;
    padding: 0;
}

.addToCartButton {
    margin-top: auto;
}