.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 2px dashed #000000;
    width: clamp(5rem, 90%, 20rem);
    min-height: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.imageList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}


.imageContainer {
    width: 100%;
    position: relative;
}

.imagePreview {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 1rem;
}

.buttonsContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    box-sizing: border-box;
    gap: 0.5rem;
}

.deleteButton {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 0, 0, 0.8);
}
.moveButton {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 255, 0, 0.8);
}

