.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 2px dashed #000000;
    width: clamp(5rem ,90% , 20rem);
    min-height: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}