.main{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
}


.priceMinor {
    width: 2ch;
    min-width: 2ch;
}
.priceMajor {
    text-align: right;
}
.smalltext {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
}