spring:
  application:
    name: store
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8443
  ssl:
    enabled: false
logging:
  level:
    org.hibernate.tool.hbm2ddl: DEBUG
    org.springframework.web: DEBUG
    org.springframework.boot.autoconfigure: INFO
storage:
  s3:
    endpoint: http://localhost:9000
    accessKey: minioadmin
    secretKey: minioadmin123
    bucket: images
    region: us-east-1
    publicBaseUrl: http://localhost:9000/images # using aws s3 url in production